numpy
pandas
netCDF4
folium
branca          # Para complementar o Folium
matplotlib
tkinter         # Já vem com Python
geopandas       # Para manipulação de dados geográficos
shapely         # Requisito do geopandas
climada
scipy
python-dotenv
